.heading
{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
.body1
{
    margin:0px;
    padding : 0px;
}
body{
    background-color: #FFECEF;
}
.headu
{
    font-family: 'Alfa Slab One', cursive;
}
.lhead
{
    font-family: 'Rokkitt', serif;
}
.text
{
    font-family: 'Vollkorn', serif;
}
.aim
{
    font-family: 'Arvo', serif;
}